<!-- Gem Name -->

<%= link_to g.name, g.url, target: :_blank, class: "gem_title"%>
<div class="fave-icon" onclick='addFave("<%= g.name %>","<%= g.url %>")'>
  <span>&#x2605</span>
</div>

<!-- INFORMATION -->

<div class="gem-info">
  <h2>INFORMATION</h2>
  <%= g.info %>
</div>

<!-- DEPENDENCIES -->

  <% g.dependencies.each do |d| %>
  <li><%= link_to d[:name], d[:url], target: :_blank%>
    <div class="fave-icon" onclick='addFave("<%= d[:name] %>", "<%= d[:url] %>")'>
      <span>&#x2605</span>
    </div>
  </li>
  <% end %>
